@import url("base.css");

.target-div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}
@keyframes moveLeft {
  to {
    left: -1000px;
  }
}
@keyframes draw {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-150px);
    }
  }
